<ion-header>
  <ion-toolbar>
      <ion-title size="large">Reglages</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content class="header1">
<ion-toolbar>
<ion-avatar slot="start" >
  <img src="../../assets/avatar-luke.jpeg">
  </ion-avatar>
  <ion-icon name='qr-code-sharp' slot="end" class="qr"></ion-icon>
  <ion-label>
    <div class="flex_box">
      <h2>Luke Skywalker</h2>
    </div>
    <div class="flex_box">
      <p> add description here</p>
    </div>
  </ion-label>
</ion-toolbar>

    <ion-list >
      <ion-item lines="full"></ion-item>
      <ion-item detail routerLink="/conversation">
        <ion-icon  slot="start" name="logo-octocat" class = "avatar"></ion-icon>
        <ion-label>
          <div class="flex_box">
            <h3>Avatar</h3>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
<br>
<br>

