<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        Change
      </ion-button>
    </ion-buttons>

    <ion-segment value="all">
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="missed">
        <ion-label>Missed</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="call-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense" >
    <ion-toolbar>
      <ion-title size="large">Calls</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar placeholder="Search"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item >
     
      <ion-label>
        
        <ion-item >
          <ion-avatar slot="start">
            <img src="../../assets/avatar-finn.png">
          </ion-avatar>
          <ion-label>
            Jean
            <p>
              <ion-text color="medium">asdasd</ion-text>
            </p>
          </ion-label>
    
          <small slot="end">
            <ion-text color="medium">17.10.2020</ion-text>
          </small>
          <ion-buttons slot="end" class="ion-no-margin">
            <ion-button color="primary">
              <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
    

        

    <ion-item >
      <ion-avatar slot="start">
        <img src="../../assets/avatar-han.jpg">
      </ion-avatar>
      <ion-label>
        Filippe
        <p>
          <ion-text color="medium">asdasd</ion-text>
        </p>
      </ion-label>

      <small slot="end">
        <ion-text color="medium">17.10.2020</ion-text>
      </small>
      <ion-buttons slot="end" class="ion-no-margin">
        <ion-button color="primary">
          <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>


    <ion-item >
      <ion-avatar slot="start">
        <img src="../../assets/avatar-rey.jpg">
      </ion-avatar>
      <ion-label>
      Christel
        <p>
          <ion-text color="medium">asdasd</ion-text>
        </p>
      </ion-label>

      <small slot="end">
        <ion-text color="medium">17.10.2020</ion-text>
      </small>
      <ion-buttons slot="end" class="ion-no-margin">
        <ion-button color="primary">
          <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
 

  <ion-item >
    <ion-avatar slot="start">
      
      <img src="../../assets/bg.png">
    </ion-avatar>
    <ion-label>
      My heart
      <p>
        <ion-text color="medium">asdasd</ion-text>
      </p>
    </ion-label>

    <small slot="end">
      <ion-text color="medium">17.10.2020</ion-text>
    </small>
    <ion-buttons slot="end" class="ion-no-margin">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <div style="height: 500px;"></div>
