<ion-list class="margin-bottom ion-no-padding">
  <ion-item lines="none" class="ion-activatable">
    <ion-avatar slot="start">
      <img src="../../assets/avatar-luke.jpeg" alt="">
      <ion-ripple-effect></ion-ripple-effect>
    </ion-avatar>
    <ion-label class="ion-text-wrap">
      <h2 class="text-height">
        <strong>My status</strong>
      </h2>
      <p class="text-height">Tap to add status</p>
    </ion-label>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-item>

  <ion-item-group>
    <ion-item-divider class="divider">
      <ion-label color="dark">Recent updates</ion-label>
    </ion-item-divider>
    <ion-item>

      <ion-avatar slot="start">
        <img src="../../assets/avatar-han.jpg" alt="">
        <ion-ripple-effect></ion-ripple-effect>
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2 class="text-height">
          <strong>Jacke</strong>
        </h2>
        <p class="text-height">jeudi a 10h</p>
      </ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>

    <ion-item>
      
      <ion-avatar slot="start">
        <img src="../../assets/avatar-rey.jpg" alt="">
        <ion-ripple-effect></ion-ripple-effect>
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2 class="text-height">
          <strong>Jacke</strong>
        </h2>
        <p class="text-height">jeudi a 19h</p>
      </ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
  </ion-item-group>
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="pen-fab">
  <ion-fab-button color="light" size="small">
    <ion-icon color="primary" name="pencil-sharp"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="secondary">
    <ion-icon color="light" name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab>